h1 {
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

body > div{
    width: 80%;
    border: 0.5px solid;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

table.reportTable {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid #1C6EA4;
    background-color: #FFFFFF;
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    margin-left:auto;
    margin-right:auto;

}

table.reportTable td, table.reportTable th {
    border: 1px solid #AAAAAA;
    padding: 10px 2px;
}

table.reportTable tbody td {
    font-size: 16px;
}

table.reportTable tbody tr:nth-child(even) {
    background: #EBF5FF;
}

table.reportTable thead {
    background: #1C6EA4;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    border-bottom: 3px solid #444444;
}

table.reportTable thead th:first-child {
    display: none;
}

button{
    display: block;
    padding:0.5em 3em;
    margin:0 0.3em 0.3em 0;
    box-sizing: border-box;
    background: #3D94F6;
    color:#FFFFFF;
    border: 1px solid #eee;
    border-radius: 20px;
    text-shadow:none;
    margin: 0 auto;
    margin-bottom: 20px;
}

button:hover{
    background: #016ABC;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
}